header {
    background-color: rgb(62, 167, 237);
    color: white;
    padding: 1rem 0;
    margin: 0;
}
.brand{
    font-size: 2.5rem;
    font-weight: 900;
}

a{
    text-decoration: none;
}

.navbar{
    padding: 1rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:rgb(62, 167, 237);
    color: white;
    margin: 0.5rem;
    border-radius: 1rem;
}

.navitems a{
    text-decoration: none;
    color: white;
    padding:1rem;
    font-size: 1.25rem;
}
